
<div class="row login-dialog">

  <div class="login-main-body">
    <span class="login-title">Login to Your Account</span>
    <br />

    <form [formGroup]="login" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" style="color:red">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" style="color:red">Password is required</div>
        </div>
      </div>
      <div class="form-group login-footer">
        <button [disabled]="loading" class="btn btn-primary login-button-style">Login</button>  
      </div>
    </form>

  </div>
</div>
